 *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.Services{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0%;
}
@keyframes port{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.Portfolio{
    animation: port 5s linear;
   
}
.home-text img{
    box-shadow: 0px 5px 5px 2px black;
} 


